.root {
    -fx-font-size: 12px;
    -fx-font-family: "System";
    -fx-background-image: url("img/background.png");
    -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
}

.tool-bar {
     -fx-background-image: url("img/background.png");
}

.label {
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#6DB2F8, #ffffff);
 }

#labelLogin, #labelPassword, #labelName {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
 }
